<main class="TodoMain">
    <article class="TodoArticle">
      <h1 class="My_Todo"> My Todo-List</h1>
      <form class="AddTodo" action="/todos"  method="POST">
        <input class="AddTodo-Text"
               type="text"
               placeholder="What's Next?"
               name="todo_text"
        >
        <input class="AddTodo-Date" type="date" name="due_date">
        <input class="AddTodo-Button" type="submit" value="Add">
      </form>

        <%= render partial:"todo-section" , locals: {
          section_title: " Overdue",
          todos: Todo.overdue,
          show_due_date: true
        } %>
        <%= render partial:"todo-section" , locals: {
          section_title: " Due today",
          todos: Todo.due_today,
          show_due_date: false
        } %>
        <%= render partial:"todo-section" , locals: {
          section_title: " Due later",
          todos: Todo.due_later,
          show_due_date: true
        } %>
    </article>
</main>
