<main class="TodoMain">
    <article class="TodoArticle">
      <h1 class="My_Todo"> My Todo-List</h1>
      <section class="AddTodo">
        <input class="AddTodo-Text" type="text" placeholder="What's Next?">
        <input class="AddTodo-Date" type="date">
        <input class="AddTodo-Button" type="button" value="Add">
      </section>

        <%= render partial:"todo-section" , locals: {
          section_title: " Overdue",
          todos: Todo.overdue,
          show_due_date: true
        } %>
        <%= render partial:"todo-section" , locals: {
          section_title: " Due today",
          todos: Todo.due_today,
          show_due_date: false
        } %>
        <%= render partial:"todo-section" , locals: {
          section_title: " Due later",
          todos: Todo.due_later,
          show_due_date: true
        } %>
    </article>
</main>
