.Home-title{
  font-size: 25px;
  margin-bottom: 40px;
}
.Home-authenticate{
  margin-bottom: 20px;
  font-size: 18px;
}
.UserHeader{
  padding:10px;
  background-color: rgb(197, 193, 193);
  font-size: 18px;
  margin-bottom: 10px;
}
